<nav class="navbar navbar-expand-lg navbar-parent fixed-top" id="navbar">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#">
        <img class="logo h-100" src="/assets/logo/kroma-logo.png" alt="Bootstrap" width="30" height="24">
      </a>
      <a class="navbar-brand" href="/">KROMIUM</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex mx-auto" role="search" method="GET" action="/search">
        <input class="form-control form-search" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="search-button" type="submit"><img class="search-icon" src="/assets/icons/search.png" alt=""></button>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item d-flex align-items-center" aria-current="page" href="/wishlist"><span class="un d-flex align-items-center"><img class="navbar-icon" src="/assets/icons/wishlist.png" alt=""> <span>Wishlist</span></span></a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link nav-item d-flex align-items-center" href="/cart"><span class="un d-flex align-items-center"><img class="navbar-icon" src="/assets/icons/cart.png" alt=""> <span>Cart</span></span></a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item d-flex align-items-center" aria-current="page" href="/dashboard"><span class="un d-flex align-items-center"><img class="navbar-icon" src="/assets/icons/user.png" alt=""> <span>Hi <%= user %></span></span></a>
        </li>
        <li class="nav-item ps-4 d-flex align-items-center">
          <button type="button" class="logout-button un" data-bs-toggle="modal" data-bs-target="#logout-modal">
            <img class="navbar-icon" src="/assets/icons/logout.png" alt="">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="logout-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="logout-modalLabel">Logout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="main-button" data-bs-dismiss="modal">Cancel</button>
        <a href="/logout" class="sub-button text-decoration-none">Logout</a>
      </div>
    </div>
  </div>
</div>