<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
<%- include('./partials/guest-navbar') %> 
<header class="banner d-flex justify-content-center align-items-center">
  <h1 class="banner-text text-white">one stop shop for all your<br>phone essentials</h1>
</header>
<section>

</section>
<%- include('./partials/footer') %> 
</body>
</html>