@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
  font-family: 'Roboto', sans-serif !important;
  height: 100vh !important;
  overflow-x: hidden;
}
.navbar-brand{
  font-weight: 700;
  font-size: 1rem;
  min-width: 3rem;
  min-height: 3rem;
}
.logo{
  object-fit: contain;
}
.form-search{
  border: none;
  border-bottom: solid 2px var(--color-secondary);
  border-radius: 0;
  background: transparent;
  min-width: 24rem;
}
.form-control:focus{
  box-shadow: none;
}
.search-button{
  border: none;
  border-bottom: solid 2px var(--color-secondary);
  border-radius: 0;
  background-color: transparent;
  max-width: 30px;
}
.search-icon{
  width: 100%;
  object-fit: cover;
}
.nav-item{
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-secondary) !important;
}
.navbar-parent{
  background: transparent;
  transition: background-color 0.3s;
}
.main-button{
  border: solid 3px var(--color-secondary);
  border-radius: 10em;
  background-color: var(--color-secondary);
  color: white;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
}
.sub-button{
  border: solid 2px var(--color-secondary);
  border-radius: 10em;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}
.sub-button:hover{
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

a{
  color: var(--color-secondary);
  font-weight: var(--font-weight-subheading);
}
.login-card{
  background-color: var(--color-teritiary-user);
  border-radius: 2rem;
}
.login-input{
  border: none;
  border-radius: 2rem;
  padding: 0.75rem;
  outline: none;
}
.login-label{
  font-weight: var(--font-weight-subheading);
}
.sign-in{
  font-weight: var(--font-weight-subheading);
}
.banner{
  background-image: url('/assets/banner/One stop shop.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  background-position: center center;
}
.banner-text{
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
}
footer{
  background-color: var(--color-teritiary-user);
  padding: 1rem;
}
footer div div div p{
  font-size: var(--font-size-normal);
}
footer div div div p:first-child{
  font-weight: var(--font-weight-subheading);
  font-size: var(--font-size-normal);
  padding-top: 1rem;
}
.navbar-icon{
  height: 1rem;
  padding-right: 5px;
}
#otp-card{
  display: none;
}
.a-tag{
  text-decoration: underline;
  cursor: pointer;
}

.admin-login-card{
  background-color: var(--color-teritiary-admin);
  border-radius: 2rem;
}

.image-table{
  max-width: 5rem;
}

.item-image{
  max-height: 5rem;
}

.table-overflow{
  overflow-x: scroll;
}
.user-card{
  min-height: 10rem;
}
.block-button{
  min-width: 6rem;
}
.product-card-image{
  max-height: 10rem;
}

.product-card{
  height: 21rem;
  /* max-width: 18rem; */
}

.product-card-title{
  font-weight: var(--font-weight-subheading);
}

.product-title{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.range-form{
  padding: 0.25rem 0.25rem !important;
}

.product-display-card{
  min-height: 21rem;
}

@media (max-width: 576px) {
  .product-display-card{
    min-height: 0;
  }
}

.product-anchor{
  text-decoration: none;
}

.product-alt-images{
  object-fit: contain;
  max-height: 5rem;
  cursor: pointer;
}
.product-alt-card{
  min-width: 6rem;
}

@media (max-width: 576px){
  .product-alt-card{
    min-width: 0;
  }
  .product-alt-images{
    max-height: 2rem;
  }
}

.product-details-title{
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-subheading);
}
.rating{
  background-color: var(--color-secondary);
  color: var(--color-primary)
}
.product-details-price{
  font-size: var(--font-size-price);
  font-weight: var(--font-weight-subheading);
}
.label-text{
  font-weight: var(--font-weight-subheading);
}
.highlights{
  max-width: 15rem;
}
.wishlist{
  max-width: 1.5rem;
  fill: var(--color-primary);
  transition: fill 0.3s;
}
.wishlist-button{
  width: 3rem;
  height: 3rem;
  border: 1px;
  border-radius: 5rem;
  background-color: var(--color-button-background);
  transition: background-color 0.3s;
}
.wishlist-added{
  fill: var(--color-secondary);
}
.wishlist-button:hover{
  background-color: var(--color-button-hover);
}
.wishlist-parent{
  top: 2.5rem;
  right: 3rem;
}
.product-main-image{
  max-height: 20rem;
}
.image-selected{
  outline: solid 4px var(--color-teritiary-user);
}

.img-cont{
  position: relative;
}
.lens{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(31, 180, 255, 0.3);
  visibility: hidden;
}
.result{
  position: absolute;
  left: calc(100% + 10rem);
  top: 1rem;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  visibility: hidden;
  z-index: 99;
}

@media (max-width: 768px){
  .result{
    display: none;
  }
}

.product-text-cart{
  font-size: var(--font-size-cart-items);
  font-weight: var(--font-weight-subheading);
}

.item-count{
  background-color: var(--color-button-background);
  margin-bottom: 0;
  padding: 0.25rem 1rem;
  border-left: solid 1px var(--color-button-hover);
  border-right: solid 1px var(--color-button-hover);
}

.reduce-button{
  border: none;
  background-color: var(--color-button-background);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 1.75rem;
  height: 2rem;
  font-weight: var(--font-weight-subheading);
}
.add-button{
  border: none;
  background-color: var(--color-button-background);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 1.75rem;
  height: 2rem;
  font-weight: var(--font-weight-subheading);
}

.added-to-cart{
  position: fixed;
  bottom: 1rem;
  right: 50%;
  margin: 2rem;
  transform: translateY(5rem);
  visibility: hidden;
  transition: transform 0.3s, visibility 0.3s;
}

@media (max-width: 700px){
  .added-to-cart{
    right: 0;
  }
}

.cart-images{
  max-height: 14rem;
}

.button-link{
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s;
}

.button-link:hover{
  color: var(--color-primary);
}

.sub-button:hover .button-link{
  color: var(--color-primary);
}

.edit-button-address{
  bottom: 3rem;
}

.order-card{
  min-height: 7rem;
}

.checkout-images{
  height: 10rem;
}

.success-tick{
  width: 10rem;
}

.dashboard-icons{
  width: 3rem;
}

.download-icon{
  width: 1.5rem;
}

.logout-button{
  background-color: transparent;
  border: none;
  font-weight: var(--font-weight-subheading);
}

.dashboard-icon{
  width: 2rem;
}

::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-track{
  visibility: hidden;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0, 0.5);
  border-radius: 5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0,0,0, 0.6);
}
.un{
  padding-bottom:2px;
  background-image: linear-gradient(rgb(0, 0, 0) 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}
.un:hover{
  background-position: 100% 100%;
  background-size: 100% 2px;
}
.table-image-orders{
  max-width: 7rem;
}
.side-bar{
  position: fixed;
  top: 5rem;
  left: 0;
  bottom: 0;
}
.orders{
  margin-left: 30rem;
  margin-right: 2rem;
}

@media(max-width: 770px){
  .orders{
    margin-left: 15rem;
    margin-right: 1rem;
  }
}
@media(max-width: 500px){
  .side-bar{
    position: static;
  }
  .orders{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.address-card{
  min-height: 20rem;
}
.order-text{
  text-overflow: ellipsis;
}