<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <div>
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_udf7ck2h.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"    autoplay></lottie-player>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="fw-bold mb-4">This page does not exist</h3>
        <a class="btn btn-primary" href="/admin">Go To Home</a>
      </div>
    </div>
  </div>
</div>