<nav class="navbar navbar-expand-lg navbar-parent fixed-top" id="navbar">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#">
        <img class="logo h-100" src="/assets/logo/kroma-logo.png" alt="Bootstrap" width="30" height="24">
      </a>
      <a class="navbar-brand" href="/">KROMA</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex mx-auto" role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="search-button" type="submit"><img class="search-icon" src="/assets/icons/search.png" alt=""></button>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="#">Products</a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link nav-item" href="#">Users</a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="#">Orders</a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="#">Satistics</a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="#">Coupons</a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="#">Banners</a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link nav-item d-flex align-items-center" href="/logout"><img class="navbar-icon" src="/assets/icons/logout.png" alt=""> <span>Logout</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>