<nav class="navbar navbar-expand-lg navbar-parent fixed-top" id="navbar">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#">
        <img class="logo h-100" src="/assets/logo/kroma-logo.png" alt="Bootstrap" width="30" height="24">
      </a>
      <a class="navbar-brand" href="/">KROMA</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="/admin"><span class="un">Dashboard</span></a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="/admin/categories"><span class="un">Categories</span></a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="/admin/products"><span class="un">Products</span></a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link nav-item" href="/admin/users"><span class="un">Users</span></a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="/admin/orders"><span class="un">Orders</span></a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="/admin/coupons"><span class="un">Coupons</span></a>
        </li>
        <li class="nav-item ps-4">
          <a class="nav-link active nav-item" aria-current="page" href="/admin/banner"><span class="un">Banners</span></a>
        </li>
        <li class="nav-item d-flex align-items-center ps-4">
          <button type="button" class="logout-button" data-bs-toggle="modal" data-bs-target="#logout-modal">
            <img class="navbar-icon" src="/assets/icons/logout.png" alt="">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="logout-modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Logout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="main-button" data-bs-dismiss="modal">Cancel</button>
        <a href="/admin/logout" class="sub-button text-decoration-none">Logout</a>
      </div>
    </div>
  </div>
</div>