<nav class="navbar navbar-expand-lg navbar-parent fixed-top">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#">
        <img class="logo h-100" src="/assets/logo/kroma-logo.png" alt="Bootstrap" width="30" height="24">
      </a>
      <a class="navbar-brand" href="/">KROMA</a>
    </div>
  </div>
</nav>